
/* -----------Specification------------- */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Arturo Black outline';
  font-size: 15px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
.header {
  position: relative;
}

.header.active {
}

.menu_utilites {
  background: transparent;
}

.section_work {  
  height: 100vh;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  position: relative;
}
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
div, p, form, input, button, a, span {
  box-sizing: border-box;
}
p {
  font-family: 'Choco cooky';
  margin: 0;
}
input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active {
  outline: none;
}
button {
  padding: 0;
}
a, a:hover, a:active {
  text-decoration: none;
}
a, button, input, th, div {
  color: rgb(0, 0, 0);
  transition: all 0.5s ease;
}
ul, li {
  display: block;
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4 {
  font-family: 'Natasha';
  padding: 0;
  margin: 0;  
  color: gold;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
  margin: 10px 0;
}
h4 {
  font-size: 10px;
}