/*---------------------- Media Queries-------------- */

/*1200px..... */
@media screen and (max-width: 100000px) {
  .modal__window, .modal__window__deleteTable, .modal__window__values {
    max-width: 490px;
  }
  .wrapper__all__inputs {
    margin-bottom: 10px;
  }
}

/* 992- 1200px */
@media screen and (max-width: 1200px) {
  .modal__window, .modal__window__deleteTable, .modal__window__values {
    max-width: 490px;
  }
  .wrapper__all__inputs {
    margin-bottom: 10px;
  }
}
/* 768-992px */
@media screen and (max-width: 992px) {
  .container {
    width: 95%;
  }
  .modal__window, .modal__window__deleteTable, .modal__window__values {
    max-width: fit-content;
  }
  .form__wrapper {
    max-width: auto;
  }
  .wrapper__all__inputs {
    margin-bottom: 0;
  }
  .wrapper__all__inputs div:nth-child(1n) {
    margin-bottom: 10px;
  }
  .themes__wrapper {
    top: 125px;
  }
  .themes__wrapper.open_menu {
    left:75.5vw;
   opacity: 1;
   transition: opacity 1.2s ease 0.5s;
   animation: myAnim 1s ease 1.2s 1 normal forwards;
  }
  @keyframes myAnim {
    0% {
    left: 79.8vw;
      top: 125px;
    }
  
    100% {
    left: 0;
      top: 40px;
    }
  }
}
/* 576-768px */
@media screen and (max-width: 768px) {
  .reports__title {
    text-align: end;
    margin-bottom: 15px;
  }
  .inputs__result input:nth-child(3){
    margin-bottom: 10px;
  }
  
  .btn__delete {
    letter-spacing: 0.5em;
  }
  .order__month {
    max-width: 115px;
  }
  .wrapper__all__inputs {
    margin-bottom: 0;
  }
  .themes__wrapper {
    top: 170px;
  }
  .themes__wrapper.open_menu {
    left:68.9vw;
   opacity: 1;
   transition: opacity 1.2s ease 0.5s;
   animation: myAnim 1s ease 1.2s 1 normal forwards;
  }
  @keyframes myAnim {
    0% {
    left: 68.9vw;
      top: 170px;
    }
  
    100% {
    left: 0;
      top: 40px;
    }
  }
}

/* 320-703px  */
@media screen and (max-width: 703px) {
 .order__result.btnShift {
  animation: slideRight 1s ease 0s 1 normal forwards;
 }
 .order__result {
  animation: slideLeft 1s ease 0s 1 normal forwards;
 }
}

/* 320-658px  */
@media screen and (max-width: 658px) {
  .header.info {
    min-height: 107vh;
  } 
  .modal__window, .modal__window__deleteTable, .modal__window__values {
    max-width: 330px;
  }
}

/* 320-658px  */
@media screen and (max-width: 420px) {
  .order__result.btnShift {
    animation: slideLeft1 1s ease 0s 1 normal forwards;
   }
   .order__result {
    animation: slideRight1 1s ease 0s 1 normal forwards;
   }
}

/* 320-576px  */
@media screen and (max-width: 576px) {
  /* .header.theme__street__ball {
    background: url(../img/adidas-originals-streetball.jpg) repeat center 115px / contain;
  } */
  .container {
    width: 90%;
  }
  .form_month {
    margin-top: 30px;
  } 
  .inputs__month  {
    display: contents;
  }
  .inputs__month input {
    margin: 0 auto 10px;
  }
  .inputs__result input{
    margin-right: 0;
  }
  .wrapper__all__inputs div:nth-child(1n) {
    margin-left: 5px;
  }
  .wrapper__all__inputs{
    margin-bottom: 0;
  }
  .check__wrapp input {
    margin: 0 0 0 10px;
  }
  .info__wrapper {
    left: 0;
    transform: translate(0);
  }
  h3 {
    margin: 5px 0;
  }
  .form__wrapper {
    padding: 3px 10px 10px 10px;
  }
  .btn__delete {
    letter-spacing: 0;
  }
  td, th {
    font-size: 10px;
  }
  .btn__delete {
    font-size: 12px;
    letter-spacing: 4px;
  }
  .back_to_top {
    right:0;
  }
  .themes__wrapper {
    top: 283px;
  }
  .themes__wrapper.open_menu {
    left:42.9vw;
   opacity: 1;
   transition: opacity 1.2s ease 0.5s;
   animation: myAnim 1s ease 1.2s 1 normal forwards;
  }
  .instr__wrapper {
    width: 105%;
  }
  @keyframes myAnim {
    0% {
    left: 42.9vw;
      top: 283px;
    }
  
    100% {
    left: 0;
      top: 40px;
    }
  }
}

@keyframes slideRight {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(100px);
	}
}

@keyframes slideLeft{
	0% {
		transform: translateX(100px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideRight1 {
	0% {
		transform: translateX(-55px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slideLeft1 {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-55px);
	}
}