.modal__window, .modal__window__deleteTable, .modal__window__values {
 position: absolute;
 top: 50%;
 left: -5000%;
 transform: translate(-50%, -50%);
 min-width: 240px;
 width: fit-content;
 z-index: 30;
 background-color: rgb(225 225 196 / 70%);
 border-radius: 25px;
 box-shadow: 3px 3px 10px 2px rgba(12, 12, 12, 0.8);
 padding: 35px 24px 60px;
}

.modal__window::after, .modal__window__deleteTable::after, .modal__window__values::after {
 position: absolute;
 content: '';
 width: 80%;
 height: 3px;
 background-color: rgba(1, 121, 217, 1);
 top: 30px;
 left: 10%;
 border-radius: 10px;
}

.modal__window.active, .modal__window__deleteTable.active, .modal__window__values.active {
 left: 50%;
 animation: animeModal 2s ease 0s 1 normal forwards;
}

.modal__window.info.active {
 top: 29.5%;
}

.btns, .btns__deleteTable, .btns__values  {
 position: absolute;
 bottom: 5px;
 right: 10px;
 width: fit-content;
}

.modal__btn, .modal__btn__deleteTable, .modal__btn__values {
 width: 40px;
 height: 40px;
 border-radius: 10px;
 border: none;
 box-shadow: 3px 3px 10px 1px #0a0907;
 cursor: pointer;
}

.modal__btn:hover, .modal__btn__deleteTable:hover, .modal__btn__values:hover {
 transform: scale(1.1);
 box-shadow:3px 3px 10px 1px #0a0907, 0px 0px 10px 3px #ffffff inset;
}

.modal__btn:active, .modal__btn__deleteTable:active, .modal__btn__values:active {
 transform: scale(0.9);
 box-shadow: 0px 0px 10px 3px #595448 inset;
}

.modal__text, .modal__text__deleteTable, .modal__text__values {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-weight: bold;
}

.yes__btn, .yes__btn__deleteTable, .yes__btn__values {
 background: url(../img/smile_ok.png) no-repeat center center / contain;
}

.no__btn, .no__btn__deleteTable, .no__btn__values {
 margin-left: 50px;
 background: url(../img/smile_no.png) no-repeat center center / contain;
}

.overlay {
 opacity: 0;
 visibility: hidden;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(255, 255, 255, 0.282);
 z-index: 20;
 transition: .3s all;
}
.overlay.active{
 opacity: 1;
 visibility: visible;
}

@keyframes animeModal {
0%,
100% {
 transform: translate(-50%, -50%)
}

10%,
30%,
50%,
70% {
 transform: translate(-60%, -50%);
}

20%,
40%,
60% {
 transform: translate(-40%, -50%);
}

80% {
 transform: translate(-48%, -50%);
}

90% {
 transform: translate(-58%, -50%);
}
}