.wrapper__year {
	margin-top: 20px;
}

.wrapper__year.wrapper__year__none  {
	visibility: hidden;
}

.wrapper__table {
	margin-bottom: 20px;
}

.table__month {
 border-spacing: 10px;
 overflow-x: auto;
 display: block;
}

.month__name {
	margin: 5px 0 5px;

}

.total__modal {
	white-space: nowrap;
	font-size: 14px;
}

.hours__pioneer {
	border-radius: 10px;
	width: fit-content;
	margin-left: auto;
	opacity: 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	display: none;
}

.hours__pioneer.open_menu {
	display: block;
	opacity: 1;
	transition: display 0.5s ease-in;
	transition: opacity 0.5s ease-in 0.5s;
}

th {
	font-size: 20px;
 cursor: context-menu;
 min-width: 24px;
 width: 100%;
	transition: all 2s ease;
	transition: visibility 0s ease 0s;
}

td {
 font-size: 17px;
 cursor: cell;
}

td, th {
 border: 1px solid rgb(255, 255, 255);
 padding: 10px 10px;
 background-color: rgba(223, 223, 200, 0.9);
 border-radius: 10px;
 font-family: 'Choco cooky';
}

td:focus {
 transform: scale(1.5);
 transition: all ease 1s;
 outline: 2px solid rgb(100, 57, 139);
 outline-offset: -4px ;
 border: none;
 color: rgb(100, 57, 139);
}

.wrapper__buttuns__delete {
 display: flex;
}

.btn__delete, .btn__delete__values {
 cursor: pointer;
 border: 2px solid rgb(100, 57, 139);
}

.btn__delete__values:hover {
 transform: scale(1.3);
}

.btn__delete:hover {
	transform: scale(1.03);
 border: 2px solid rgb(0, 255, 187);
 background-color: rgba(255, 255, 255, 0.9);
}

.btn__delete:active {
 transform: scale(0.95);
 border: 2px solid rgb(0, 255, 187);
 background-color: rgba(255, 255, 255, 0.9);
}

.btn__delete {
 background-color: rgba(223, 223, 200, 0.9);
 font-weight: bold;
 font-size: 20px;
 border-radius: 10px;
 padding: 9px;
 letter-spacing: 1em;
	margin: 0 10px;
	transition: visibility 0s ease 0s;
}