
/*--------------Themes Wrapper----------------*/

.themes__wrapper {
 position: absolute;
	max-width: 150px;
	width: 100%;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 top: 86px;
 left: -5000%;
 color: #fff;
 padding: 10px 15px;
 border-radius: 25px;
 box-shadow: 5px 5px 5px 0px rgb(0 0 0 / 70%);
 background-color: rgba(89, 19, 100, 0.8);
 transition: all 0.8s ease-out;
 text-align: start;
	z-index: 1000;
 opacity: 0;
}

.themes__wrapper > .menu__link:not(:last-child) {
	margin-bottom: 15px;
}

.themes__wrapper.open_menu {
	left:78.6vw;
 opacity: 1;
 transition: opacity 1.2s ease 0.5s;
 animation: myAnim 1s ease 1.2s 1 normal forwards;
}

.themes__title {
 color: #fff;
 margin-bottom: 5px;
}

.menu__link a {
 color: #fff;
 font-size: 13px; 
 cursor: pointer;
}
.themes__link:hover {
 text-decoration: underline;
}

.themes__link:not(:last-child) {
 margin-bottom: 5px;
}

@keyframes myAnim {
	0% {
  left: 78.6vw;
		top: 86px;
	}

	100% {
  left: 0;
		top: 40px;
	}
}