.header.theme__street__ball {
 background: url(../img/basket431_604.jpg) no-repeat center center / cover;
}

.menu__burger__header.theme__street__ball span, .menu__burger__header.theme__street__ball:after, .menu__burger__header.theme__street__ball:before {
 background: linear-gradient(42deg, rgba(41, 43, 66, 0.8) -10%, rgba(141, 131, 109, 0.8) 59%);
}

.menu__burger__header.open_menu.theme__street__ball:before, .menu__burger__header.open_menu.theme__street__ball:after {
 background: linear-gradient(21deg, #8d836d 30%, #292b42 71%);
}

.mouse__over.theme__street__ball {
 color: rgb(255, 140, 0);
 font-weight: bold;
}

.nav.open_menu.theme__street__ball, .themes__wrapper.theme__street__ball  {
 background: linear-gradient(21deg, rgba(141, 131, 109, 0.8) 30%, rgba(41, 43, 66, 0.8) 71%);
}

.tables__wrapper.open_menu.theme__street__ball, .tables__total.open_menu.theme__street__ball {
	background: linear-gradient(21deg, rgba(141, 131, 109, 0.8) 30%, rgba(41, 43, 66, 0.8) 71%);
}

.menu__link.theme__street__ball {
	color: rgb(192, 182, 67);
}

.menu__link.theme__street__ball a {
	color: rgb(192, 182, 67);
}

.themes__title.theme__street__ball {
	color: rgb(255 180 0 / 60%);
}

.form_month.theme__street__ball {
 background: linear-gradient(42deg, rgba(41, 43, 66, 0.8) -10%, rgba(141, 131, 109, 0.8) 59%);
}

.form_result.theme__street__ball {
 background: linear-gradient(42deg, rgba(41, 43, 66, 0.8) -10%, rgba(141, 131, 109, 0.8) 59%);
}
.form__wrapper.theme__street__ball {
 box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.8);
}
.form__title.theme__street__ball {
 color: #6d3120;
}
.inputs.theme__street__ball {
 box-shadow: 4px 4px 10px 0px rgba(213, 146, 124, 1);
	color: #6d3120;
}
.inputs.theme__street__ball:focus {
 box-shadow: 4px 4px 4px 0px rgb(231, 217, 212);
	border: 2px solid rgba(45, 13, 9, 1);
}
.btns_add.theme__street__ball {
 box-shadow: 4px 4px 10px 0px rgba(190, 167, 194, 0.8);
	border: solid rgb(251, 141, 7);
	color: #fff;
}
.month__name.theme__street__ball {
	color: rgba(26, 123, 112, 1);
}
.hours__pioneer.theme__street__ball {
	color: #000000;
	box-shadow: 0px 0px 10px 2px rgb(255 229 0 / 80%), 0px 0px 90px 0px rgb(150 128 112 / 80%) inset;
	padding: 5px;
	font-weight: bold;
}
td.theme__street__ball, th.theme__street__ball {
 box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.9);
	color: #6d3120;
	background-color: rgb(225 225 196 / 70%);
}
td.theme__street__ball:focus {
 outline: 2px solid rgb(244, 197, 175);
}
.btn__delete__values.theme__street__ball {
 padding: 0;
 border: 1px solid rgba(89, 19, 100, 0.6);
	background: rgba(223, 223, 200, 0.7) url(../img/trash.png) no-repeat center center / contain;
	box-shadow: 0px 0px 10px 3px rgba(27, 23, 28, 0.9);
}
.btn__delete__values.garbage.theme__street__ball {
	background: rgba(204, 204, 144, 0.7) url(../img/лампо_ка.png) no-repeat center center / contain;
	box-shadow: 0px 0px 10px 4px rgba(251, 141, 7, 0.8);
	border: none;
}

.btn__delete__values.mustardSeed.theme__street__ball {
	background: rgba(93, 126, 40, 0.6) url(../img/lamp.png) no-repeat center center / contain;
	box-shadow: 0px 0px 20px 5px rgba(255, 238, 0, 0.6);
	border: none;
}

.btn__delete.theme__street__ball {
 background-color: rgba(223, 223, 200, 0.7);

	color: #6d3120;
	border: 2px solid #6d3120;
 box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.9);
}
.btn__delete.theme__street__ball:hover {
	border: 2px solid #ff3700;
}