/* ------------------- theme__milk ----------------*/

.header.theme__milk {
 background-color: #d9dab8;
}

.menu__burger__header.theme__milk span, .menu__burger__header.theme__milk:after, .menu__burger__header.theme__milk:before {
 background-color: rgba(26, 123, 112, 0.5);
}

.menu__burger__header.open_menu.theme__milk:before, .menu__burger__header.open_menu.theme__milk:after {
 background-color: rgba(26, 123, 112, 0.5);
}

.mouse__over.theme__milk {
 color: rgba(26, 123, 112, 0.5);
 font-weight: bold;
}

.nav.open_menu.theme__milk, .themes__wrapper.theme__milk  {
 background-color: rgba(26, 123, 112, 0.5);
}

.tables__wrapper.open_menu.theme__milk, .tables__total.open_menu.theme__milk {
	background-color: rgba(26, 123, 112, 0.5);
}

.form__wrapper.theme__milk {
 box-shadow: 8px 8px 10px 0px rgba(26, 123, 112, 0.5), 0 0 4px 8px rgba(189, 234, 229, 0.5);
 background: transparent;
}

.form__title.theme__milk {
 color: rgba(26, 123, 112, 0.5);
}

.inputs.theme__milk {
 box-shadow: 4px 4px 10px 0px rgba(100, 80, 73, 1);
	color: rgba(26, 123, 112, 0.5);
}

.inputs.theme__milk:focus {
 box-shadow: 0 0 10px 4px rgba(189, 234, 229, 0.8)inset, 0 0 6px 6px rgba(189, 234, 229, 0.5);
	border: none;
}

.btns_add.theme__milk {
 box-shadow: 4px 4px 10px 0px rgba(100, 80, 73, 1);
	border: none;
 background-color: rgba(26, 123, 112, 0.5);
	color: #d9dab8;
}

.btns_add.theme__milk:hover {
 box-shadow: 0 0 10px 4px rgba(189, 234, 229, 0.8)inset, 0 0 6px 6px rgba(189, 234, 229, 0.9);
}

.month__name.theme__milk {
	color: rgba(26, 123, 112, 0.5);
}

.hours__pioneer.theme__milk {
	color: #637860;
	box-shadow: 0px 0px 1px 7px rgb(203 224 205), 0px 0px 90px 0px rgb(121 171 148) inset;
	width: 140px;
	padding: 5px;
	font-weight: bold;
}

td.theme__milk, th.theme__milk {
 box-shadow: 0px 0px 10px 3px rgba(54, 44, 55, 0.6);
}

td.theme__milk:focus {
 outline: 2px solid rgba(26, 123, 112, 0.5);
}

.btn__delete.theme__milk {
	box-shadow: 0px 0px 10px 3px rgba(54, 44, 55, 0.6);
	color: #000;
}

.btn__delete__values.theme__milk {
 padding: 0;
 border: 1px solid rgba(89, 19, 100, 0.6);
	background: rgba(223, 223, 200, 0.9) url(../img/recycle.png) no-repeat center center / contain;
 box-shadow: 0px 0px 10px 3px rgba(54, 44, 55, 0.6);
 border: none;
}

.btn__delete__values.garbage.theme__milk {
	background: rgba(204, 204, 144, 0.9) url(../img/recyclefull.png) no-repeat center center / contain;
	box-shadow: 0px 0px 10px 2px rgba(9, 255, 0, 0.6);
 border: none;
}

.btn__delete.theme__milk {
	color: #6d3120;
	border: 2px solid #6d3120;
 box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.9);
}

.btn__delete.theme__milk {
	border: none;
}

.btn__delete.theme__milk:hover {
	border: none;
 box-shadow: 0 0 10px 4px rgba(189, 234, 229, 0.8)inset, 0 0 6px 6px rgba(189, 234, 229, 0.9);
}